.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  margin-right: 30px;
}
